@charset "utf-8";

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 100;
  src: url(../fonts/NotoSansKR-Thin.woff2) format("woff2"), 
  url(../fonts/NotoSansKR-Thin.woff) format("woff"), 
  url(../fonts/NotoSansKR-Thin.otf) format("opentype");
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/NotoSansKR-Light.woff2) format("woff2"), 
  url(../fonts/NotoSansKR-Light.woff) format("woff"), 
  url(../fonts/NotoSansKR-Light.otf) format("opentype");
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/NotoSansKR-Regular.woff2) format("woff2"), 
  url(../fonts/NotoSansKR-Regular.woff) format("woff"), 
  url(../fonts/NotoSansKR-Regular.otf) format("opentype");
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/NotoSansKR-Medium.woff2) format("woff2"), 
  url(../fonts/NotoSansKR-Medium.woff) format("woff"), 
  url(../fonts/NotoSansKR-Medium.otf) format("opentype");
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/NotoSansKR-Bold.woff2) format("woff2"), 
  url(../fonts/NotoSansKR-Bold.woff) format("woff"), 
  url(../fonts/NotoSansKR-Bold.otf) format("opentype");
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 900;
  src: url(../fonts/NotoSansKR-Black.woff2) format("woff2"), 
  url(../fonts/NotoSansKR-Black.woff) format("woff"), 
  url(../fonts/NotoSansKR-Black.otf) format("opentype");
}



/* Gmarket Sans */
@font-face {
  font-family: "Gmarket Sans KR";
  font-style: normal;
  font-weight: 200;
  src: url(../fonts/GmarketSansTTFLight.woff2) format("woff2"), 
  url(../fonts/GmarketSansTTFLight.woff) format("woff"), 
  url(../fonts/GmarketSansTTFLight.otf) format("opentype");
}

@font-face {
  font-family: "Gmarket Sans KR";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/GmarketSansTTFMedium.woff2) format("woff2"), 
  url(../fonts/GmarketSansTTFMedium.woff) format("woff"), 
  url(../fonts/GmarketSansTTFMedium.otf) format("opentype");
}

@font-face {
  font-family: "Gmarket Sans KR";
  font-style: normal;
  font-weight: 600;
  src: url(../fonts/GmarketSansTTFBold.woff2) format("woff2"), 
  url(../fonts/GmarketSansTTFBold.woff) format("woff"), 
  url(../fonts/GmarketSansTTFBold.otf) format("opentype");
}


:root {
  --body: 1300px;
  --loginBody: 500px;
  --narrowBody: 800px;

 /** Color **/
 --fontColor: #333333; 
 --pointColor: #346FEF;

 --Status-blue: #16a6fd; 
 --Status-green: #3BB000; 
 --Status-yellow: #FFD028; 
 --Status-red: #c20000; 
 --Status-black: #000000;
 --Grayscale-5: #2A2C3B; 
 --Grayscale-4: #3E4355; 
 --Grayscale-3: #8E97B4; 
 --Grayscale-2: #BCC2D6; 
 --Grayscale-1: #D2D7E5; 
 --Grayscale-0: #FAFAFC;

 --Text-Disable: #D2D7E5; 
 --Text-White: #ffffff;

 /** Font Style **/
 /* Size */
 --fs40: 40px; 
 --fs32: 32px; 
 --fs24: 24px; 
 --fs20: 20px; 
 --fs18: 18px; 
 --fs16: 16px; 
 --fs14: 14px; 
 --fs13: 12px; 
 --fs12: 12px; 
 --fs11: 11px; 
 
 /* Weight */
 --fw_l: 200; 
 --fw_m: 400; 
 --fw_b: 600;

 --gmarket:'Gmarket Sans KR'
}


/* reset */
* {font-family:'Noto Sans KR';}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button{margin:0;padding:0}
fieldset,img{border:0 none;}
th img, td img, input, label {vertical-align:middle}
img {image-rendering: -webkit-optimize-contrast;transform: translateZ(0);backface-visibility: hidden;}
dl,ul,ol,menu {list-style:none}
blockquote, q {quotes:none}
blockquote:before, blockquote:after,q:before, q:after {content:'';content:none}
table {width:100%;border-collapse:collapse;border-spacing:0;}
input,select,textarea,button {vertical-align:middle;font-size:100%}
button {border:0 none;background-color:transparent;cursor:pointer}
body{-webkit-text-size-adjust:none}
input[type="text"],input[type="password"],input[type="submit"], textarea {-webkit-appearance:none;-webkit-border-radius:0;}
input:checked[type="checkbox"] {-webkit-appearance:checkbox;}
button,input[type="button"],input[type="submit"],input[type="reset"],input[type="file"] {-webkit-appearance:button;-webkit-border-radius:0}
body,th,td,input,select,textarea,button {color:#000}
a {color:#000;text-decoration:none;cursor:pointer}
a:active, a:hover {text-decoration:none}
address,cite,code,dfn,em,var {font-style:normal;font-weight:normal}
caption,legend {overflow:hidden;width:1px;height:1px;margin:-1px 0 0 -1px;font-size:1px;line-height:0;position: absolute;clip: rect(0, 0, 0, 0) !important;}
.blind {clip:rect(0,0,0,0); overflow:hidden; display:block; width:1px; height:1px;margin:-1px;padding:0;border:0; font-size:1px; line-height:0; text-indent:-9999px}
* html table {border-collapse:collapse}
*+html table {border-collapse:collapse}





/*margin*/
.mt0 { margin-top:0 !important; }
.mt5 { margin-top:5px; }
.mt10 { margin-top:10px; }
.mt15 { margin-top:15px; }
.mt20 { margin-top:20px; }
.mt25 { margin-top:25px; }
.mt30 { margin-top:30px; }
.mt40 { margin-top:40px; }
.mt50 { margin-top:50px; }

.mb0 { margin-bottom:0 !important; }
.mb5 { margin-bottom:5px; }
.mb10 { margin-bottom:10px; }
.mb15 { margin-bottom:15px; }
.mb20 { margin-bottom:20px; }
.mb25 { margin-bottom:25px; }
.mb30 { margin-bottom:30px; }
.mb40 { margin-bottom:40px; }
.mb50 { margin-bottom:50px; }
.mb80 { margin-bottom:80px; }
.mb100 { margin-bottom:100px; }


.wd100 { width:100% !important; }



.txt-l { text-align:left; } 
.txt-c { text-align:center; } 
.txt-r { text-align:right; } 
.fl { float:left; } 
.fr { float:right; } 
